.code-workspace
.directory
.nmlcache
*.cacheindex
*.cache

# Remove renderobject which produces the sprites from voxels
renderobject

# Old versions of the GRF
KeepinItMail_v0.1.0.grf
KeepinItMail_v0.2.0.grf
KeepinItMail_v0.3.0.grf
