.code-workspace
.directory
.nmlcache
*.cacheindex
*.cache
__pycache__

# Remove renderobject which produces the sprites from voxels
renderobject
newrender.py

# Old versions of the GRF
*.grf

# Backup folders of stuff in case I screw up
backup/
version_history/

# Research and Docs
zResearch
*.ods
graph.py
comparables.csv
Speed Graph.png
ld.nml
th.nml
bm.nml
gm.nml
1x_screen.png
2x_screen.png
1x&2x_screen.xcf
vehicles.csv
need_mail001.png